<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<style>
    .page{
        display: flex;
        width: 100%;
        height: 100%;
    }

    #bg{
        width:100%;
        height:100%;
    }

    body{
        width: 100vw;
        height: 100vh;
        position: fixed;
    }

</style>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="page">
        <div id="tunes-sidebar">
            <div class="sidebar-select" id="gif-select">
                <label for="choose-gif">Choose your mood</label>
                <select class="form-control form-control-sm" name="choose-gif" id="choose-gif">
                    <option class="playlist-option" value="rainy">Rainy</option>
                    <option class="playlist-option" value="forest">Forest</option>
                    <option class="playlist-option" value="mountain">Mountains</option>
                    <option class="playlist-option" value="city-skyline">City Skyline</option>
                    <option class="playlist-option" value="snowy">Snowy</option>

                </select>
            </div>
            <div class="sidebar-select" id="playlist-select">
                <label for="choose-playlist">Choose your tunes</label>
                <select class="form-control form-control-sm" name="choose-playlist" id="choose-playlist">
                    <option class="playlist-option" value="jazz">Jazz</option>
                    <option class="playlist-option" value="ambient">Ambient</option>
                    <option class="playlist-option" value="modern">Modern</option>
                    <option class="playlist-option" value="classics">Classics</option>
                    <option class="playlist-option" value="community">Community</option>
                </select>

                <iframe class="spotify-embed" id="jazz" src="https://open.spotify.com/embed/playlist/2Ibm04ynk25IsEjM6fkp5z" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="spotify-embed" id="classics" src="https://open.spotify.com/embed/playlist/2OM8NWtLZH9DUxDNop1rRm" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="spotify-embed" id="modern" src="https://open.spotify.com/embed/playlist/2GvHMnZ6AbddNsXTQRlBpV" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="spotify-embed" id="ambient" src="https://open.spotify.com/embed/playlist/2svVcFgNej7NKP7aOY0Qrm" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="spotify-embed" id="community" src="https://open.spotify.com/embed/playlist/4FNHFEtaAHc5XfjXJb65qZ" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>

        <img id="forest" class="bg-gif" src="../img/forest.gif">
        <img id="rainy" class="bg-gif" src="../img/rainy.gif">
        <img id="mountain" class="bg-gif" src="../img/mountain.gif">
        <img id="snowy" class="bg-gif" src="../img/snowy.gif">
        <img id="city-skyline" class="bg-gif" src="../img/city-skyline.gif">

    </div>


    <script th:replace="partials/scripts :: assets"></script>
    <script>

        $("#choose-playlist").change(function(){
            $(".spotify-embed").css("display", "none");
            $("#" + $(this).val()).css("display", "block");
        });

        $("#choose-gif").change(function(){
            $(".bg-gif").css("display", "none");
            $("#" + $(this).val()).css("display", "block");
        })
    </script>

</body>
</html>