<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<!-- This is where we iterate through the Posts ArrayList -->
<h1>Here are all the reviews!</h1>

<div th:each="review : ${reviews}">
    <h1 th:text="${review.title}"></h1>
    <p th:text="${review.body}"></p>

    <form th:action="@{|/reviews/${review.id}/edit|}">
        <button>Edit</button>
    </form>

    <form th:action="@{|/reviews/${review.id}|}">
        <button>View</button>
    </form>
</div>

<script th:replace="partials/scripts :: assets"></script>

</body>
</html>