/*shared*/

body{
    background-color: ghostwhite;
}

/*tunes*/
.spotify-embed{
    width: 100%;
    height: 100vh;
}

#classics, #ambient, #modern, #community{
    display: none;
}

#jazz{
    display: block;
}

.bg-gif{
    min-width: 500px;
}

#forest, #city-skyline, #snowy, #mountain{
    display:none;
}

#rainy{
    object-fit: cover;
}

#tunes-sidebar{
    background-color: #343a40;
    min-width: 350px;
    height: 100%;
    justify-content: flex-start;
}

#tunes-sidebar label{
    width: 100%;
    color: white;
    padding-top: 5px;
}